<html>
    <head>
        <title>
            {% block head_title %}FC Blog | {{ title }} | {{ instance.title }}{% endblock %}
        </title>
    </head>
    <body>
        {% if messages %}
            <div class="messages">
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
            </div>
        {% endif %}
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>